<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.netbenefitsapp">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".view.activities.splashscreen.SplashScreenActivity">
        </activity>
        <activity
                android:name=".view.activities.webview.LibraryWebViewActivity"
                android:label="@string/title_activity_library_web_view"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".view.activities.displayprofile.DisplayProfileActivity">
        </activity>
        <activity
                android:name=".view.activities.main.MainActivity"
                android:label="@string/title_activity_main"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".view.activities.newuser.NewUserRegistration"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".view.activities.welcome.WelcomeActivity"
                android:screenOrientation="portrait"
                android:theme="@style/splashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>